name: Python Lint Check

on: [push] # Roda a cada 'git push'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Se tivesse bibliotecas extras (como requests), instalaria aqui
    - name: Syntax check with py_compile
      run: python -m py_compile scripts/monitor.py
